<!--
<div class="container">
    <h1>杂乱无章的练习</h1>
    <p>
        <img [src]="path"/>
        
      
        <img bind-src=path/>
        <button (click)="getHero()">点击出现</button>
        
        <input #phone placeholder="phone number" />
        <button (click)="callPhone(phone.value)">Call</button>
    </p>
    <app-new [new]='path'></app-new>
</div>

<div class="container">
    <h1>用户输入表单</h1>
    <button (click)='onClickMe()'>点击</button>
    <p>{{ clickMessage }}</p>
    
    <input (keyup)='onKey($event)' placeholder="用event"/>
    <p>{{ values }}</p>
    
    <input #box (keyup)='0' placeholder="用模板引用变量"/>
    <p>{{ box.value }}</p>
    <input #box1 (keyup)='onKey1(box1.value)' placeholder="用模板引用变量的值作为参数"/>
    <p>{{ values1 }}</p>
    <input #box2 (keyup.enter)='onEnter(box2.value)' (blur)='update(box2.value)' placeholder="用enter操作和blur协同操作">
    <p>{{ values2 }}</p>
</div>

-->

<!--
<div class="container">
    <h1>添加英雄</h1>
    <input #hero (keyup.enter)='onEnter1(hero.value)' (blur)='onEnter1(hero.value); hero.value="" '/>
    <button (click)='onEnter1(hero.value)'>添加英雄</button>
    <ul>
        <li *ngFor="let hero of Heroes">{{ hero }}</li>
    </ul>
</div>

<div class="container">
    <app-new *ngFor='let hero of Heroes' [hero]="hero" [MyHero]="myHero"></app-new>
</div>

<div class="container">
    <app-new *ngFor='let name of Names' [name]='name'></app-new>
</div>

<div class="container">
    <h2>Source code version</h2>
    <button (click)='newMinor()'>New minor version</button>
    <button (click)='newMajor()'>New major version</button>
    <app-new [minor]='minor' [major]='major'></app-new>
</div>
-->

<!--
<div class="container">
    <h2>Should we take place in it?</h2>
    <h3>Agree: {{ agreed }}, Disagree: {{ disagreed }}</h3>
    <app-new *ngFor="let voter of voters" [Name]="voter" (voted)="onVoted($event)"></app-new>
</div>
-->

<!--本地变量的方法使父组件可以用子组件
<div class="container">
    <h3>Countdown to liftoff (via local variable)</h3>
    <button (click)="timer.start()">Start</button>
    <button (click)="timer.stop()">stop</button>
    <div class="seconds">{{ timer.seconds }}</div>
    //采用将子组件传入父组件，然后用本地变量代替子组件就可以在副组件中引用子组件
    <app-new #timer></app-new>
</div>
-->

<div class="container">
    <h3>Countdown to liftoff (via local variable)</h3>
    <button (click)="start()">Start</button>
    <button (click)="stop()">stop</button>
    <div class="seconds">{{ seconds() }}</div>
    <app-new ></app-new>
</div>